%h1
  Research

= link_to 'http://www.nejm.org/doi/pdf/10.1056/NEJMoa1215881', class: 'external-publication', target: '_blank' do
  .publication-highlight
    A Randomized Trial of Adenotonsillectomy for Childhood Sleep Apnea

= link_to 'http://www.nejm.org/doi/pdf/10.1056/NEJMoa1306766', class: 'external-publication', target: '_blank' do
  .publication-highlight
    CPAP versus Oxygen in Obstructive Sleep Apnea


%h2
  Past Studies and Collaborations
%p.lead
  The Boston Sleep Reading Center has worked on numerous National Heart, Blood, and Lung Institute (NHLBI) funded cohort studies over the past 20 years. A selection of these include:
%ul
  %li Sleep Heart Health Study
  %li MrOS Study
