%h1 Header One
%h2 Header Two
%h3 Header Three
%h4 Header Four
%h5 Header Five
%h6 Header Six
%p Paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%p.lead{ style: 'margin-top: 20px;' } Bootstrap Defaults
.btn.btn-primary Primary
.btn.btn-success Success
.btn.btn-info Info
.btn.btn-warning Warning
.btn.btn-danger Danger

%p.lead{ style: 'margin-top: 20px;' } Custom Color Scheme
.row.white{ style: 'margin-top: 20px;' }
  .col-sm-2.primary-lighter-bcg
    Primary Lighter
  .col-sm-2.primary-light-bcg
    Primary Light
  .col-sm-2.primary-bcg
    Primary Base
  .col-sm-2.primary-dark-bcg
    Primary Dark
  .col-sm-2.primary-darker-bcg
    Primary Darker

.row.white{ style: 'margin-top: 5px;' }
  .col-sm-2.secondary-lighter-bcg
    Secondary Lighter
  .col-sm-2.secondary-light-bcg
    Secondary Light
  .col-sm-2.secondary-bcg
    Secondary Base
  .col-sm-2.secondary-dark-bcg
    Secondary Dark
  .col-sm-2.secondary-darker-bcg
    Secondary Darker
