html, body {
  background-color: transparent;
  font-family: 'Pontano Sans', sans-serif;
}

/* Header
******************/
.navbar {
  margin-bottom:0px;
  background-color: #444;
  border-radius: 0px;
  border-color: #444;
}
#navbar-brand {
  display: block;
  width:80%;
  margin: 0 auto;
  float: none;
  text-align: center;
  color: #ddd;
}
.navbar-toggle {
  float: left;
  margin-left:15px;
}

/* Main Content
********************/
#container-main {
  position: relative;
  background-color: #eee;
  padding: 30px;
}
#container-left {
  background-color: #E66107;
  padding: 20px;
  border-radius:5px;
  ul.nav-list {
    list-style-type: none;
    padding:15px;
    li {
      color: transparentize(white,.2);
      font-size: 16px;
      line-height:25px;
      a {
        color: transparentize(white,.2);
      }
      a:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}
#container-right {
  background-color: white;
  padding: 20px 30px;
  border-radius:5px;
}

/* Footer
******************/
.footer {
  background-color: #777;
  color: transparentize(white, .2);
}

/* Responsive Components
************************/
@media all and (max-width: $screen-xs-max) {
  #container-left {
    margin-left: -100%;
    float: left;
    border-radius: 0px;
  }
  #container-left.active-nav {
    margin-left: 0px;
    width:80%;
  }
  #container-right {
    margin-left: 0px;
    float: left;
    width: 100%;
  }
  #container-right.active-nav {
    margin-right:-90%;
    float: right;
  }
}

@media all and (min-width: $screen-sm-min) {
  #container-left {
    margin-left: 0px;
    float: left;
    width: 25%;
    margin: 2.5%;
  }
  #container-right {
    margin-left: 0px;
    float: left;
    width: 67.5%;
    margin: 2.5% 0;
  }
}

@media all and (min-width: $screen-md-min) {
  #container-left {
    margin-left: 0px;
    float: left;
    width: 20%;
    margin: 2.5%;
  }
  #container-right {
    margin-left: 0px;
    float: left;
    width: 72.5%;
    margin: 2.5% 0;
  }
}

@media all and (min-width: $screen-lg-min) {
  #container-left {
    margin-left: 0px;
    float: left;
    width: 15%;
    margin: 2.5%;
  }
  #container-right {
    margin-left: 0px;
    float: left;
    width: 77.5%;
    margin: 2.5% 0;
  }
}
