/* Defaults
******************/

html, body {
  background-color: transparent;
  font-family: 'Pontano Sans', sans-serif;
}

a:hover {
  text-decoration: none;
  color: transparentize($primary-base,.3);
}

.f300 { font-weight: 300; }
.f400 { font-weight: 400; }
.f500 { font-weight: 500; }
.f600 { font-weight: 600; }
.f700 { font-weight: 700; }

.bold { font-weight: bold; }
.light { font-weight: lighter; }

/* Header
******************/
.navbar {
  margin-bottom:0px;
  background-color: #444;
  border-radius: 0px;
  border-color: #444;
}
#navbar-brand {
  display: block;
  width:80%;
  margin: 0 auto;
  float: none;
  text-align: center;
  color: #ddd;
}
.navbar-toggle {
  float: left;
  margin-left:15px;
}

/* Main Content
********************/
#container-main {
  position: relative;
  background-color: #eee;
  padding: 30px;
}
#container-left {
  background-color: $primary-base;
  padding: 20px;
  border-radius:5px;
  ul.nav-list {
    list-style-type: none;
    padding:15px;
    li {
      color: transparentize(white,.2);
      font-size: 16px;
      line-height:25px;
      a {
        color: transparentize(white,.2);
      }
      a:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}
#container-right {
  background-color: white;
  padding: 20px 30px;
  border-radius:5px;
}

/* Footer
******************/
.footer {
  background-color: #777;
  color: transparentize(white, .2);
  padding-top:10px;
  width:100%;
  ul {
    list-style-type: none;
    padding-left:0px;
    p {
      padding: 0px;
      font-weight:400;
      font-size:12px;
      margin-bottom:10px;
      color: white;
      color: rgba(255,255,255,.7);
    }
    p.address {
      font-weight:300;
      margin-bottom:0px;
      color: rgba(255,255,255,.9);
    }
    li {
      a {
        font-size:14px;
        color: white;
        font-weight:300;
      }
      a:hover {
        text-decoration: none;
        color: transparentize($primary-base,.3);
      }
    }
  }
}


/* Responsive Components
************************/
@media all and (max-width: $screen-xs-max) {
  #container-left {
    margin-left: -100%;
    float: left;
    border-radius: 0px;
  }
  #container-left.active-nav {
    margin-left: 0px;
    width:80%;
  }
  #container-right {
    margin-left: 0px;
    float: left;
    width: 100%;
  }
  #container-right.active-nav {
    margin-right:-90%;
    float: right;
  }
}

@media all and (min-width: $screen-sm-min) {
  #container-left {
    margin-left: 0px;
    float: left;
    width: 25%;
    margin: 2.5%;
  }
  #container-right {
    margin-left: 0px;
    float: left;
    width: 67.5%;
    margin: 2.5% 0;
  }
}

@media all and (min-width: $screen-md-min) {
  #container-left {
    margin-left: 0px;
    float: left;
    width: 20%;
    margin: 2.5%;
  }
  #container-right {
    margin-left: 0px;
    float: left;
    width: 72.5%;
    margin: 2.5% 0;
  }
}

@media all and (min-width: $screen-lg-min) {
  #container-left {
    margin-left: 0px;
    float: left;
    width: 15%;
    margin: 2.5%;
  }
  #container-right {
    margin-left: 0px;
    float: left;
    width: 77.5%;
    margin: 2.5% 0;
  }
}
