%footer.footer
  .container
    .col-sm-3.hidden-xs
      %ul
        %p &copy; 2015 Boston Sleep Research Center
        %p.address Division of Sleep and Circadian Disorders
        %p.address Brigham and Women's Hospital
        %p.address 221 Longwood Avenue
        %p.address Boston, MA 02115
    .col-sm-2.col-xs-3
      %ul
        %p BSRC
        %li About
        %li Research
        %li Services
    .col-sm-2.col-xs-3
      %ul
        %p.small About
        %li Staff
        %li Facility
        %li Policy
    .col-sm-2.col-xs-6
      %ul
        %p.f300.small{style: 'margin-left:5px;'} Contact Us
    .col-md-2.col-md-offset-1.col-sm-3.col-sm-offset-0.hidden-xs
      = link_to image_tag("myapnea/welcome/img-small/bwh-logo_3x1.png", class: "partners-img-footer img-responsive", id: "partner-BWH"), 'http://www.brighamandwomens.org/'
