%nav.navbar.navbar-default
  %button.navbar-toggle.visible-xs{"data-object" => 'navbar-collapse'}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a#navbar-brand.navbar-brand{:href => "#"} Boston Sleep Reading Center
